*{
    margin: 0;
    padding: 0;
}


body{
   
    background-image: url(../images/gameStart.png);
    background-repeat: no-repeat;
    
}

.center{
    text-align: center;
    padding: 400px;
}

.text {
    font-size: xx-large;
}

img {
    width: 100%;

}